mixin nav-content()
  ul
    li: a(href="#about") About
    li: a(href="#youtube") YouTube
    //li: a(href="#mentoring") Mentoring
    li: a(href="#articles") Articles
    li: a(href="#vine") Vine
    li: a(href="#design") Design
    li: a(href="#notes") Notes
    li: a(href="#podcast") Podcast
    li: a(href="#contact") Contact

.mobile-nav
  +nav-content()

header
  .header-position
    h1.logo Travis Neilson
    
    nav.site-nav
      +nav-content()
    
    a(href="mailto:travisneilson@gmail.com").email-link +email me
    
    .mobile-nav-toggle: span
