mixin nav-content()
  ul
    li.curpos: a(href="#about") About
      .scrollspy
    li: a(href="#youtube") YouTube
      .scrollspy
    //li: a(href="#mentoring") Mentoring
      .scrollspy
    li: a(href="#articles") Articles
      .scrollspy
    li: a(href="#vine") Vine
      .scrollspy
    li: a(href="#design") Design
      .scrollspy
    li: a(href="#notes") Notes
      .scrollspy
    li: a(href="#podcast") Podcast
      .scrollspy
    li: a(href="#contact") Contact
      .scrollspy

.mobile-nav
  +nav-content()

header
  .header-position
    h1.logo Travis Neilson
    
    nav.site-nav
      +nav-content()
    
    a(href="mailto:travisneilson@gmail.com").email-link +email me
    
    .mobile-nav-toggle: span
