section.podcast#podcast
  .flex.flex--center
    .col-2
      p.home-lead ...and Podcasting with friends.
    
      .podcast-content
        .podcast-thumb
          img(src="/assets/img/podcast-thumb.png")
        
        .podcast-text
          .date 21 July 2015
          .title Full-Process Designer
          .player <iframe frameborder='0' height='36px' scrolling='no' seamless src='https://simplecast.fm/e/14311?style=light' width='100%'></iframe>
  
  .flex.flex--center
    .col-1
      a(href="http://travandlos.com").home-cta.web Website
    
    .col-1
      a(href="https://itunes.apple.com/us/podcast/late-nights-with-trav-and-los/id944869246?mt=2").home-cta.itunes iTunes
      
