section.vine#vine
  .flex.flex--space-around
    
    .col-1 <iframe src="https://vine.co/v/OtWiVlLLUKZ/embed/postcard" width="300" height="300" frameborder="0"></iframe><script src="https://platform.vine.co/static/scripts/embed.js"></script>
    
    .col-1.description.order-first
      .desc-wrap
        p.home-lead.outdented ...Offering creative lifestyle tips on Vine...
        a(href="https://vine.co/JustTheTips").home-cta Check Out Vine
    
    
