section.notes#notes
  .flex.flex--center
    .col-2
      p.home-lead ...&nbsp;Sending email notes&nbsp;...
      
      .notes-signup-box.
        <div id="mc_embed_signup">
          <form action="//travisneilson.us6.list-manage.com/subscribe/post?u=2abae111d44df144b3b3986bc&amp;id=3422cb30c8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
              
              <div class="form-display">
                <div class="mc-field-group">
                  <label for="mce-NAME">First Name </label>
                  <input type="text" value="" name="NAME" class="" id="mce-NAME">
                </div>
                
                <div class="mc-field-group">
                  <label for="mce-EMAIL">Email Address </label>
                  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                </div>
                
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
              </div>
              
              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>
            
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;"><input type="text" name="b_2abae111d44df144b3b3986bc_3422cb30c8" tabindex="-1" value=""></div>
              
            </div>
          </form>
        </div>        
    
  .flex.flex--center
    .col-1
      p Notes are weekly email messages that come directly to your inbox. Most of the notes I send will never be available anywhere else. You should sign up.
    
    .col-1
      p A small selection of previous notes that I’ve made public...
      ul
        li ❧ <a href="http://us6.campaign-archive2.com/?u=2abae111d44df144b3b3986bc&id=d6657a0a85&e=5b238ff4fa">Ultimate Motivation</a>
        li ❧ <a href="http://us6.campaign-archive2.com/?u=2abae111d44df144b3b3986bc&id=e49e06cdf7&e=5b238ff4fa">The Pillars of Creation</a>
        //li ❧ <a href="http://us6.campaign-archive2.com/?u=2abae111d44df144b3b3986bc&id=52f83113f4&e=5b238ff4fa">Training Elephants</a>
        li ❧ <a href="http://us6.campaign-archive1.com/?u=2abae111d44df144b3b3986bc&id=43066ab0cb&e=5b238ff4fa">Work-Life Balance is a Joke</a>
