mixin face(face, words, name)
  li.face(style="background-image: url(/assets/img/testimonial-avatars/#{face});")
    .bubble
      p #{words}
      cite — #{name}

section.mentoring#mentoring
  .flex.flex--center
    .col-1
      ul.faces
        +face("lj.jpg","He provided me with a clear perspective of how I could utilise and manage my time effectively to get most out of my personal projects. But most importantly Travis eased some of the concerns I once had about landing a job in the Web Design industry.","L.J Bennett")
        +face("gareth.jpg", "Travis talked me through the necessary steps I needed to take to land a Designer/Front End Developer role with a digital agency. We discussed what I needed to have in my portfolio, as well as what I needed to be doing on a daily basis to make my dream a reality.", "Gareth Connop")
        +face("kim.jpg", "He was very engaging and gave me a lot of great advice/guidance.  I feel more confident about where to go when choosing what to put in my portfolio/what to expect during the job application process.", "Kimberly Simmons")
        +face("joey.jpg", "As someone re-entering into the Creative Art / Web industry with very minimal support, this call was a big help. It allowed me to gauge my progress, choices, and goals against someone that has already been through this phase.", "Joey Bergeron")
        +face("andrew.jpg", "Travis provided me with his perspective on potential course objectives and units. Our discussion both reinforced many of my ideas and provided me with unique insights that have further fueled my excitement for the opportunity to teach web development.", "Andrew Wheeler")
        +face("mary.jpg", "Travis provides solid career advice for creatives. I felt I was talking to someone who has walked the same path I'm walking. He is a humble, hard working man, and a great example to follow in this industry. That's the kind of person you want to get advice from.", "Mary Rodriguez")
        li.back-btn.face
    
    .col-1
      p.home-lead.outdented ...Mentoring people like you...
      a(href="").home-cta Schedule a Call
