section.articles#articles
  .flex.flex--center

    .col-50
      .article-wrap
        {% for post in site.posts limit: 12 %}
        a(href="{{post.url}}" style="background-image: url({{post.cover}})").article-thumb
          .article-meta
            .name {{post.title}}
            .date {{post.date | date: "%b %d, %Y"}}
        {% endfor %}
        


    .col-50.flex.flex--center <!--.order-first-->
      .col-1
        .desc-wrap
          p.home-lead.outdented ...Writing and designing articles...
          a(href="/articles").home-cta See All Articles
