section.youtube#youtube
  .flex.flex--space-around
    .col-1
      .video-strip
      .flex-video <iframe src="https://www.youtube.com/embed/89sacBIEq4g?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    
    .col-1.order-first
      p.home-lead.outdented ...teaching everyone how to make websites on YouTube...
      a(href="https://www.youtube.com/user/DevTipsForDesigners").home-cta Watch on YouTube
