section._2
  .flex.flex--center
    .col-2
      p Tempor cupidatat tempor duis dolore officia minim aute reprehenderit sunt duis incididunt officia irure commodo pariatur. Dolore cillum enim dolore deserunt nostrud quis deserunt minim deserunt exercitation laboris dolor excepteur non. Fugiat amet enim officia duis dolore aliquip consectetur qui in minim cillum minim exercitation. Mollit laborum commodo cupidatat laborum qui deserunt mollit ad mollit dolor minim labore labore magna veniam eu. Duis excepteur voluptate velit laboris est aliquip et incididunt irure nisi enim adipisicing aliquip cillum pariatur et. Ut enim excepteur laborum elit consequat esse sint.

    .col-2
      p Minim Lorem in deserunt aliquip deserunt occaecat nisi occaecat proident consectetur id excepteur eiusmod irure. In duis dolor do nisi anim nostrud minim minim do do pariatur mollit ea. Ex Lorem do ad pariatur duis in cillum eu do pariatur voluptate incididunt do enim do. Voluptate do consequat consequat nisi magna sunt deserunt incididunt tempor occaecat labore aliqua velit ea veniam nulla. Ullamco ipsum esse veniam dolor mollit incididunt consequat proident adipisicing ut laborum incididunt id sint. Sint amet officia cillum velit eu et dolore sint reprehenderit irure consequat aliquip exercitation esse dolore deserunt. Proident elit exercitation in amet id cillum labore adipisicing id.

section._1
  .flex.flex--center
    .col-1
      p Tempor cupidatat tempor duis dolore officia minim aute reprehenderit sunt duis incididunt officia irure commodo pariatur. Dolore cillum enim dolore deserunt nostrud quis deserunt minim deserunt exercitation laboris dolor excepteur non. Fugiat amet enim officia duis dolore aliquip consectetur qui in minim cillum minim exercitation. Mollit laborum commodo cupidatat laborum qui deserunt mollit ad mollit dolor minim labore labore magna veniam eu. Duis excepteur voluptate velit laboris est aliquip et incididunt irure nisi enim adipisicing aliquip cillum pariatur et. Ut enim excepteur laborum elit consequat esse sint.

    .col-1.order-last
      p CTA Minim Lorem in deserunt aliquip deserunt occaecat nisi occaecat proident consectetur id excepteur eiusmod irure. In duis dolor do nisi anim nostrud minim minim do do pariatur mollit ea. Ex Lorem do ad pariatur duis in cillum eu do pariatur voluptate incididunt do enim do. Voluptate do consequat consequat nisi magna sunt deserunt incididunt tempor occaecat labore aliqua velit ea veniam nulla. Ullamco ipsum esse veniam dolor mollit incididunt consequat proident adipisicing ut laborum incididunt id sint. Sint amet officia cillum velit eu et dolore sint reprehenderit irure consequat aliquip exercitation esse dolore deserunt. Proident elit exercitation in amet id cillum labore adipisicing id.

section._3
  .flex.flex--center
    .col-3
      p Tempor cupidatat tempor duis dolore officia minim aute reprehenderit sunt duis incididunt officia irure commodo pariatur. Dolore cillum enim dolore deserunt nostrud quis deserunt minim deserunt exercitation laboris dolor excepteur non. Fugiat amet enim officia duis dolore aliquip consectetur qui in minim cillum minim exercitation. Mollit laborum commodo cupidatat laborum qui deserunt mollit ad mollit dolor minim labore labore magna veniam eu. Duis excepteur voluptate velit laboris est aliquip et incididunt irure nisi enim adipisicing aliquip cillum pariatur et. Ut enim excepteur laborum elit consequat esse sint.

section._3
  .flex.flex--center
    .col-4
      p Tempor cupidatat tempor duis dolore officia minim aute reprehenderit sunt duis incididunt officia irure commodo pariatur. Dolore cillum enim dolore deserunt nostrud quis deserunt minim deserunt exercitation laboris dolor excepteur non. Fugiat amet enim officia duis dolore aliquip consectetur qui in minim cillum minim exercitation. Mollit laborum commodo cupidatat laborum qui deserunt mollit ad mollit dolor minim labore labore magna veniam eu. Duis excepteur voluptate velit laboris est aliquip et incididunt irure nisi enim adipisicing aliquip cillum pariatur et. Ut enim excepteur laborum elit consequat esse sint.
