mixin nav-content()
  ul
    li: a(href="#about") About
    li: a(href="#projects") Projects
    li: a(href="#contact") Contact

.mobile-nav
  +nav-content()

header(class='header') 
  .header-position
    h1.logo James Stone

    nav.site-nav
      +nav-content()


    a(href="mailto:jamesdanstone@gmail.com").email-link +email me

    .mobile-nav-toggle: span
