section.temporary#about
  .flex.flex--center
    .col-3.flex--center
      //.header-arrow
      h2.large.title Hello.
  .flex.flex--center
    .col-3
      h2.large.home-lead I am a freelance motion designer/2D animator based in Leeds and looking for a full time position so I can learn and improve my skills.

//section.no-padding.about#about
  //.animation-wrap
    //#lottie
