section.temporary#about
  .flex.flex--center
    .col-3.flex-start
      //.header-arrow
      h2.large.home-lead James Stone is a motion designer.
        br
        Based Based in Leeds.
        br

//section.no-padding.about#about
  //.animation-wrap
    //#lottie
