section.temporary#about
  .flex.flex--center
    .col-3.flex--center
      //.header-arrow
      h2.large.title
  .flex.flex--center
    .col-3
      h2.large.home-lead I am a freelance Illustrator/motion designer/animator based in Leeds and looking for a full time position so I can learn and improve my skills.
