section.social#social
  .flex.flex--center
    .col-3
      ul(class='social-links')
        li: a(href="{{ site.behance }}", target="blank")
          g#Behance(class='icon_stroke icon_stroke-social')
            svg(version='1.1', viewbox='40 -20 140 180', width='120', height='60', xml:space='preserve')
             path(d='M66.3,1c6.6,0,12.6,0.6,18.1,1.8c5.4,1.1,10.1,3.1,14,5.7c3.9,2.6,6.9,6.1,9,10.6c2.1,4.3,3.2,9.8,3.2,16.2\
             c0,7-1.6,12.8-4.7,17.4c-3.2,4.6-7.9,8.5-14.1,11.4c8.5,2.4,14.8,6.8,19,12.9c4.2,6.2,6.3,13.6,6.3,22.2c0,7-1.3,13.1-4,18.1\
             c-2.7,5.1-6.4,9.3-10.9,12.5c-4.6,3.2-9.8,5.6-15.7,7.2c-5.8,1.5-11.9,2.3-18.1,2.3H1V1H66.3z M62.3,56.9c5.4,0,9.9-1.3,13.4-3.9\
             c3.5-2.6,5.2-6.8,5.2-12.6c0-3.2-0.6-5.9-1.7-7.9c-1.2-2.1-2.7-3.7-4.7-4.8c-2-1.2-4.2-2-6.7-2.4c-2.5-0.5-5.1-0.7-7.8-0.7H31.5\
             v32.3H62.3z M64,115.8c3,0,5.9-0.3,8.5-0.9c2.7-0.6,5.1-1.5,7.2-2.9c2-1.3,3.7-3.2,5-5.5c1.2-2.3,1.8-5.3,1.8-9c0-7.1-2-12.2-6-15.3\
             c-4-3-9.3-4.5-15.9-4.5H31.5v38.1H64z', class='icon_stroke icon_stroke-social')
             path(d='M160.3,115.4c4.1,4,10.1,6.1,17.8,6.1c5.6,0,10.4-1.4,14.4-4.2c4-2.8,6.4-5.8,7.4-8.9h24.2\
             c-3.9,12.1-9.8,20.7-17.9,25.9c-8,5.2-17.7,7.8-29,7.8c-7.9,0-15-1.3-21.4-3.8c-6.4-2.5-11.7-6.1-16.2-10.8\
             c-4.4-4.7-7.8-10.2-10.2-16.7c-2.4-6.5-3.6-13.6-3.6-21.4c0-7.5,1.3-14.5,3.7-21c2.5-6.5,6-12.1,10.5-16.8c4.6-4.7,10-8.4,16.2-11.2\
             c6.3-2.7,13.2-4.1,20.9-4.1c8.5,0,15.9,1.6,22.3,5c6.3,3.3,11.5,7.7,15.6,13.3c4.1,5.5,7,11.9,8.8,19c1.8,7.1,2.4,14.5,1.9,22.3\
             h-72.3C153.5,103.8,156.2,111.3,160.3,115.4z M192,62.7c-3.3-3.6-8.8-5.6-15.6-5.6c-4.4,0-8,0.7-11,2.2c-2.8,1.5-5.2,3.3-7,5.5\
             c-1.8,2.2-3,4.6-3.7,7.1c-0.7,2.4-1.1,4.6-1.3,6.6h44.8C197.7,71.6,195.2,66.4,192,62.7z', class='icon_stroke icon_stroke-social')
             rect(x='147.9', y='10.3', width='56.1', height='13.7', class='icon_stroke icon_stroke-social')
        li: a(href="{{ site.github }}", target="blank")
          svg(version='1.1', viewbox='10 -10 130 160', width='120', height='60', xml:space='preserve')
            g#Github
              path(d='M73.3,1C33.4,1,1,33.4,1,73.3c0,31.9,20.7,59,49.4,68.6c3.6,0.7,4.9-1.6,4.9-3.5c0-1.7-0.1-7.4-0.1-13.5\
              c-20.1,4.4-24.4-8.5-24.4-8.5c-3.3-8.4-8-10.6-8-10.6c-6.6-4.5,0.5-4.4,0.5-4.4c7.3,0.5,11.1,7.4,11.1,7.4c6.4,11.1,16.9,7.9,21,6\
              c0.6-4.7,2.5-7.9,4.6-9.7c-16.1-1.8-32.9-8-32.9-35.7c0-7.9,2.8-14.3,7.4-19.4c-0.8-1.8-3.2-9.2,0.7-19.1c0,0,6.1-1.9,19.9,7.4\
              c5.8-1.6,12-2.4,18.1-2.4c6.1,0,12.3,0.8,18.1,2.4c13.8-9.4,19.9-7.4,19.9-7.4c3.9,10,1.5,17.3,0.7,19.1c4.6,5.1,7.4,11.5,7.4,19.4\
              c0,27.8-16.9,33.9-33,35.7c2.6,2.2,4.9,6.6,4.9,13.4c0,9.7-0.1,17.5-0.1,19.8c0,1.9,1.3,4.2,5,3.5c28.7-9.6,49.4-36.7,49.4-68.6\
              C145.6,33.4,113.2,1,73.3,1z', class='icon_stroke icon_stroke-social')
        li: a(href="{{ site.linkedin }}", target="blank")
          svg(version='1.1', viewbox='10 -10 130 160', width='120', height='60', xml:space='preserve')
            g#Linkedin
              path(d='M131.6,1H11.4C5.7,1,1,5.6,1,11.2v120.7c0,5.6,4.7,10.2,10.4,10.2h120.2c5.8,0,10.4-4.6,10.4-10.2V11.2\
              C142,5.6,137.3,1,131.6,1z M42.8,121.2H21.9V53.9h20.9V121.2z M32.4,44.7c-6.7,0-12.1-5.4-12.1-12.1c0-6.7,5.4-12.1,12.1-12.1\
              c6.7,0,12.1,5.4,12.1,12.1C44.5,39.2,39.1,44.7,32.4,44.7z M121.2,121.2h-20.9V88.4c0-7.8-0.1-17.8-10.9-17.8\
              c-10.9,0-12.6,8.5-12.6,17.3v33.3H55.9V53.9H76v9.2h0.3c2.8-5.3,9.6-10.9,19.8-10.9c21.2,0,25.1,13.9,25.1,32.1V121.2z', class='icon_stroke icon_stroke-social')
