section.temporary#about
  .flex.flex--center
    .col-3.flex-start
      //.header-arrow
      h2.large.home-lead I am a Motion Designer/2D Animator obsessed with making things bounce, crash, spin and collide. Currently based in Leeds and looking for a full time position so I can learn and improve my skills.

//section.no-padding.about#about
  //.animation-wrap
    //#lottie
