
section.projects#projects
  .flex.flex--center.project-header

    .col-4.flex-end
      .header-arrow
      h2.large.home-lead A collection of
        br
        |my work & ideas

  .flex.flex--center

    .col-2
      p Below are a few of the projects I have worked on, and ideas for the future. I see each project as an opportunity to learn new skills and improve what I thought was already mastered. With the accessability of technology improving every single day, I try to push myself by using different tools and techniques wherever possible.
        br
        br
        |This collection features work produced for business, events, sports teams and personal projects. I am currently an independent freelancer but open to possible representation. So please get in touch if you would like to work with me.
      p.quote: span “All joy comes from creation, allow others to indulge in consumption.”

    .col-2.order-last
      .flex-video <iframe src="https://www.youtube.com/embed/yOPphBWEvC8?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

  .flex.flex--center.portfolio

    .col-4.portfolio-wrap
      | {% for post in site.posts %}
      .project-thumb(style="background-image: url({{post.image}})")
        .project-meta
          .meta-helper
            .title {{post.title}}
            .description {{post.description}}
            .tools {{post.tools}}
            a(href="{{post.url}}").project-cta See more
      | {% endfor %}
