---
layout: default
title: TRAVIS NEILSON .COM
---
<div class="home-wrap">

  {% include header.html %}

  <div class="home-sections">

    {% include section-about.html %}
    {% include section-youtube.html %}
    {% comment %}{% include section-mentoring.html %}{% endcomment %}
    {% include section-articles.html %}
    {% include section-vine.html %}
    {% include section-design.html %}
    {% include section-notes.html %}
    {% include section-podcast.html %}
    {% include section-footer.html %}

  </div>


</div>
