---
layout: default
title: jamesstone.io
---
<div class="home-wrap">

  {% include header.html %}


  <div class="home-sections">

    {% include section-hello.html %}
    {% include section-about.html %}
    <!--{% include section-cta.html %}-->
    {% include section-projects.html %}
    {% include section-contact.html %}
    {% include section-social.html %}
    <!--{% include columns.html %}-->

    <!-- All the sections here -->
    <!--<div style="height: 2000px"></div>-->


  </div>

</div>
