@import "0-tools/fonts";
@import "0-tools/bourbon/bourbon";
@import "0-tools/normalize";

@import "1-base/vars";
@import "1-base/base";

@import "2-modules/flex-video";

@import "3-sections/header";
@import "3-sections/home-about";
@import "3-sections/home-hello";
@import "3-sections/home-cta";
@import "3-sections/home-projects";
@import "3-sections/home-contact";
@import "3-sections/home-social";

@import "4-layouts/home";
