section.projects
  padding: 0

  background:
    color: seashell


  .flex.flex--center.project-header
    justify-content: center

    //@media (max-width: 980px)
      justify-content: flex-end

  .col-4.flex-end
    display: flex
    justify-content: flex-end
    position: relative
    text-align: left
    margin-left: 480px

    @media (max-width: 980px)
      margin-left: 310px

  .home-lead
    color: black
    text-align: center
    white-space: nowrap

  .header-arrow
    position: absolute
    background-image: url('../img/Header-arrow.svg')
    background-repeat: no-repeat
    background-position: center
    background-size: contain
    height: 65px
    width: 641px
    padding: 0
    margin: 0
    top: 95px
    right: 0px
    transform: rotate(180deg)

    @media (max-width:680px)
      width: 400px

    @media (max-width:420px)
      width: 350px
      top: 68px

    @media (max-width:380px)
      width: 250px
      top: 40px


  .quote
    font-family: Merriweather
    font-size: 20px
    color: white
    padding-top: 40px

    span,
    span:before,
    span:after
      display: inline
      background: #111c4e
      padding: 0.25em
      position: relative
      left: 0.25em
      padding-left: 0
      box-shadow: 0.25em 0 0 #111c4e, 0.25em*-1 0 0 #111c4e

  .flex-video
    transform: scale(1)

    @media (max-width:680px)
      top: 0

  .col-2
    position: relative
    display: flex
    align-items: stretch
    flex-direction: column
    justify-content: center

    @media (max-width: 680px)
      height: auto
      display: block

  .col-4.order-last
    width: 100%
    justify-content: start
    padding-bottom: 50px

    /*Added padding to the bottom of video after removing the text for the projects section, remove if ever changed back.*/

    @media (max-width: 680px)
      width: auto

  .project-thumb
    display: block
    background-size: cover
    width: calc(50% - 20px)
    min-width: 0%
    float: left
    position: relative
    margin: 10px
    overflow: hidden
    transition: all 150ms ease-in-out

    @media (max-width: 680px)
      width: calc(100% - 8px)
      margin: 50px 0
      float: none

    @media (max-width:420px)
      width: calc(100% - 10px)

    &:after
      content: ' '
      display: block
      padding-top: 100%

  .project-meta
    position: absolute
    color: white
    left: 0
    top: 0
    right: 0
    bottom: 0
    background: fade-out(#FF6C0C, 0.1)
    padding: 30px
    opacity: 0
    transition: all 400ms ease-in-out

  .meta-helper
    width: 100%
    height: 100%
    position: relative


    .title
      font-size: 26px
      padding-bottom: 10px

    .description
      padding: 0 45px 10px 0
      position: relative
      opacity: 0
      left: 50%
      transition: all 200ms ease-in-out

    .tools
      padding: 0 45px 10px 0
      position: relative
      opacity: 0
      left: 50%
      transition: all 200ms ease-in-out

    .project-cta
      position: absolute
      color: white
      bottom: 0
      right: 50%
      text-decoration: underline
      opacity: 0
      transform: scale(1.00)
      transition: all 200ms ease-in-out


  .project-thumb:hover
    transform: scale(1.02)

  .project-thumb:hover .project-meta
    opacity: 1

  .project-thumb:hover .description
    opacity: 1
    left: 0
    transition: all 600ms 400ms ease-in-out

  .project-thumb:hover .tools
    opacity: 1
    left: 0
    transition: all 600ms 1000ms ease-in-out

  .project-thumb:hover .project-cta
    opacity: 1
    right: 0
    transition: all 600ms 1600ms ease-in-out

  .col-4.portfolio-wrap
    left: 50%
    top: 2%
    transform: translate(-51.2%,0)
    position: relative
    max-width: 840px

    .project-thumb:nth-child(odd)
      //top: -100px

      @media (max-width: 680px)
        top: 0

  .flex.flex--center.portfolio
    flex-direction: column
