Section.temporary
  padding: 0
  height: 100vh

  @media (max-width: 480px)
    height: 80vh

  @media (max-width: 480px)
    padding-top: 100px
    padding-bottom: 100px

  background:
    color: #fdfcff

  .flex.flex--center.project-header
    justify-content: center

  .col-3.flex-start
    display: flex
    justify-content: flex-start
    position: relative
    text-align: center

    @media (max-width: 820px)
      padding-top: 100px

  .home-lead
    color: #777
    text-align: center
    white-space: normal
    font-size: 16px

  .title
    text-align: left
    font-size: 100px
    padding-top: 180px
    color: #5a132b

    @media (max-width: 480px)
      padding-top: 100px

    @media (max-width: 2000px) and (orientation:portrait)
      padding: 200px 0
