section.contact

  background:
    color: #111c4e

  .col-3.flex-start
    display: flex
    justify-content: flex-start
    position: relative
    text-align: left
    margin-right: 320px

    @media (max-width: 980px)
      margin-right: 310px

  .home-lead
    color: white
    text-align: left
    white-space: nowrap

  .header-arrow
    position: absolute
    background-image: url('../img/Header-arrow.svg')
    background-repeat: no-repeat
    background-position: center
    background-size: contain
    height: 65px
    width: 600px
    padding: 0
    margin: 0
    top: 95px
    left: 0px

    @media (max-width:680px)
      width: 400px

    @media (max-width:420px)
      width: 350px
      top: 68px

    @media (max-width:380px)
      width: 250px
      top: 40px

  .form-wrap
    position: relative

  form
    width: 660px
    padding-bottom: 50px

    @media (max-width:680px)
      width: auto

  .input-wrap
    display: flex
    justify-content: flex-start
    width: 100%
    padding: 10px 0
    resize: none

  .form-input
    position: relative
    display: flex
    width: 100%
    padding: 15px 10px
    background-color: white

    &:focus + label
      opacity: 1
      font-size: 9px
      padding: 3px 12px
      color: #000
      font-weight: bold

    &:valid + label
      opacity: 1
      font-size: 9px
      padding: 3px 12px
      font-weight: bold

  .input-wrap
    label
      position: absolute
      text-align: left
      color: #777
      padding: 15px 10px
      pointer-events: none
      top: auto
      transition: all 200ms ease-in-out

  #message
    resize: none

  #submit
    background: none
    color: white
    border-color: white
    border-style: solid
    border-width: 3px
    width: 100%
    padding: 10px 0
    margin-top: 40px
    font-size: 20px
    transition: all 200ms ease-in-out

    &:hover
      background: #FF6C0C
      border-color: #FF6C0C
      transition: border-color 200ms ease-in-out, background 400ms ease-in-out
